.details-page {
    padding: 2rem;
  
    &__header {
      font-weight: bold;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    &__table-container {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    &__table-cell--bold {
      font-weight: bold;
      font-size: 1rem;
    }
  }
  